@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

html {
    scrollbar-gutter: stable;
}

@theme {
    --font-sans: Inter, sans-serif;

    --color-accent: var(--color-lime-400);
    --color-accent-content: var(--color-lime-600);
    --color-accent-muted: var(--color-lime-100);
    --color-accent-foreground: var(--color-lime-900);
}

@layer theme {
    .dark {
        --color-accent: var(--color-lime-400);
        --color-accent-content: var(--color-lime-400);
        --color-accent-muted: oklch(0.532 0.157 131.589 / 0.5);
        --color-accent-foreground: var(--color-lime-950);
    }
}

/* Blob keyframes */
@keyframes sky {
    0% {top: 200px; left: 100px; transform: scale(1);}
    30% {top: 300px; left: 150px; transform: scale(1.2);}
    60% {top: 100px; left: 200px; transform: scale(1.3);}
    100% {top: 200px; left: 100px; transform: scale(1);}
}

@keyframes lime {
    0% {top: 80px; right: -20px; transform: scale(1.2);}
    30% {top: 300px; right: -20px;transform: scale(1);}
    60% {top: 200px; right: 100px;transform: scale(1);}
    100% {top: 80px; right: -20px; transform: scale(1.2);}
}

@keyframes red {
    0% {top: 250px; right: 0; transform: scale(1);}
    30% {top: 150px; right: 150px;transform: scale(1.4);}
    60% {top: 250px; right: 100px;transform: scale(1);}
    100% {top: 250px; right: 0; transform: scale(1);}
}
